doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 !فکر کنم اشتباه زدی :( دوباره امتحان کن
            p Page not found
        a.button(href='javascript:history.back()') Back
        a.button(href='/') Home