doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 درباره ಠ_ಠ
        p.smallwidth
            | سلام! سایت ای ار لیست یک سایت فوق العاده برای تبلیغ ربات خودتونه
            a(href='https://discord.gg/NffPV2jCbR') برای جوسن در سرور دیسکورد کلیک کنید
        br
        a#back.button(href='javascript:history.back()') Back