doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 Gitma Hub
            p Created By ğ‘ºğ’‰ğ’‚ğ’šğ’‚ğ’-ğ‘¨ğ’“ğ’„ğ’‰ âˆ#7464
        #searchMore
            | Would you like to 
            a(href='/bots/search/') search all bots
        #cards
            span#loading Loading...
